apiVersion: apps/v1
kind: Deployment
metadata:
  name: orbitops-api
  namespace: orbitops
  labels:
    app: orbitops-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: orbitops-api
  template:
    metadata:
      labels:
        app: orbitops-api
    spec:
      containers:
        - name: api
          image: orbitops-api:local
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
            - name: APP_ENV
              value: "k8s"
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8000
            initialDelaySeconds: 2
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "250m"
              memory: "128Mi"
